<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <img :src="image" :alt="altText" />
        </div>

        <div class="product-info">
          <h1>{{product}}</h1>
          <p>{{description}}</p>
          <p v-if="inStock">In Stock</p>
          <p v-else>Out of Stock</p>
          <span v-show="onSale">On Sale!</span>
          <a :href="link">link</a>
        </div>

        <div v-for="variant in variants" :key="variant.variantId">
          <p @mouseover="updateImage(variant)">{{variant.varianColor}}</p>
        </div>

        <button @click="addCart">add cart</button>
      </div>

      <!-- Exercise LIST  -->
      <ul>
        <li v-for="size in sizes" :key="size.key">{{size.title}}</li>
      </ul>

      <!-- decrease cart  -->
      <button @click="decreaseCart">decrease cart</button>
      <p>cart:{{cart}}</p>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
